:root {
  --light-head-foot: rgb(204, 204, 204); 
  --light-side: rgb(196, 200, 201);
  --light-target: rgb(208, 210, 207);
  --light-color: rgb(16, 16, 16);
  --dark-head-foot: rgb(45, 46, 50); 
  --dark-side: rgb(81, 81, 81);
  --dark-target: rgb(16, 16, 16);
  --dark-color: rgb(204, 204, 204);
  --blue-head-foot: rgb(133, 211, 224); 
  --blue-side: rgb(103, 200, 207);
  --blue-target: rgb(198, 232, 233);
  --blue-color: rgb(11, 52, 84);
  --pink-head-foot: rgb(247, 92, 150); 
  --pink-side: rgb(235, 160, 175);
  --pink-target: rgb(239, 195, 195);
  --pink-color: rgb(94, 21, 63);
  --rainbow-head-foot: rgb(204, 204, 204); 
  --rainbow-side: rgb(196, 200, 201);
  --rainbow-target: rgb(208, 210, 207);
  --rainbow-color: rgb(204, 204, 204);
}

* {
  margin: 0;
  top: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: blue;
}

.rainbow {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left,red, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,red, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, red, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
}

