$light-head-foot: rgb(204, 204, 204);
$light-side: rgb(196, 200, 201);
$light-target: rgb(225, 225, 225);
$light-color: rgb(16, 16, 16);
$dark-head-foot: rgb(45, 46, 50);
$dark-side: rgb(81, 81, 81);
$dark-target: rgb(16, 16, 16);
$dark-color: rgb(204, 204, 204);
$blue-head-foot: rgb(133, 211, 224);
$blue-side: rgb(103, 200, 207);
$blue-target: rgb(198, 232, 233);
$blue-color: rgb(11, 52, 84);
$pink-head-foot: rgb(247, 92, 150);
$pink-side: rgb(235, 160, 175);
$pink-target: rgb(239, 195, 195);
$pink-color: rgb(94, 21, 63);

* {
  margin: 0;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

body {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: grid;
  display: flex;
  flex-direction: column;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1rem;

  &.light {
    color: $light-color;
    background-color: $light-target;
  }
  &.dark {
    color: $dark-color;
    background-color: $dark-target;
  }
  &.blue {
    color: $blue-color;
    background-color: $blue-target;
  }

  &.pink {
    color: $pink-color;
    background-color: $pink-target;
  }
}

.themed {
  border-radius: 20px;
  padding: 1rem;
  margin: 0.5rem;
}

header,
footer {
  overflow: hidden;
  &.light {
    color: $light-color;
    background-color: $light-head-foot;
  }
  &.dark {
    color: $dark-color;
    background-color: $dark-head-foot;
  }
  &.blue {
    color: $blue-color;
    background-color: $blue-head-foot;
  }

  &.pink {
    color: $pink-color;
    background-color: $pink-head-foot;
  }

  #theme-toggle {
    display: none;
    &:checked ~ ul {
      height: 6rem;
      opacity: 1;
    }
  }
  #theme-toggle-label {
    &:hover {
      cursor: pointer;
    }
  }
}

.head {
  height: fit-content;

  ul {
    transition: all 500ms ease-in;
    width: 20vw;
    margin-left: 2rem;
    padding: 0;
    list-style-type: none;
    height: 0;
    opacity: 0;
    font-size: 0.7rem;
    &:hover {
      cursor: pointer;
    }
    .light {
      color: $light-color;
      background-color: $light-head-foot;
    }
    .dark {
      color: $dark-color;
      background-color: $dark-head-foot;
    }
    .blue {
      color: $blue-color;
      background-color: $blue-head-foot;
    }

    .pink {
      color: $pink-color;
      background-color: $pink-head-foot;
    }
  }
}

#middle {
  height:100%;
  display: flex;
}

#sidebar {
  width: 1vw;
  height: min-content;
  overflow:hidden;
  transition: width 500ms linear;
  h4,ul {
    transition: opacity 700ms ease-in;
    padding: 0;
    list-style: none;
    opacity: 0;
  }
  
  &:hover {
    width: 6.5rem;

    h4,ul {
      opacity: 1;
    }
  }

  &.light {
    color: $light-color;
    background-color: $light-side;
  }
  &.dark {
    color: $dark-color;
    background-color: $dark-side;
  }
  &.blue {
    color: $blue-color;
    background-color: $blue-side;
  }

  &.pink {
    color: $pink-color;
    background-color: $pink-side;
  }
}

#target {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.foot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;

  ul {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    text-decoration: none;
  }

  .underlined {
    text-decoration: underline;
}



}

.rainbow {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(
    left,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ) !important; /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(
    right,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ) !important; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    right,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ) !important; /* For Firefox 3.6 to 15 */
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ) !important; /* Standard syntax (must be last) */
}
