$light-head-foot: rgb(204, 204, 204);
$light-side: rgb(196, 200, 201);
$light-target: rgb(225, 225, 225);
$light-color: rgb(16, 16, 16);
$dark-head-foot: rgb(45, 46, 50);
$dark-side: rgb(81, 81, 81);
$dark-target: rgb(16, 16, 16);
$dark-color: rgb(204, 204, 204);
$blue-head-foot: rgb(133, 211, 224);
$blue-side: rgb(103, 200, 207);
$blue-target: rgb(198, 232, 233);
$blue-color: rgb(11, 52, 84);
$pink-head-foot: rgb(247, 92, 150);
$pink-side: rgb(235, 160, 175);
$pink-target: rgb(239, 195, 195);
$pink-color: rgb(94, 21, 63);

* {
  margin: 0;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

body {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: grid;
  display: flex;
  flex-direction: column;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1rem;

  &.light {
    color: $light-color;
    background-color: $light-target;
  }
  &.dark {
    color: $dark-color;
    background-color: $dark-target;
    img {
      filter: invert(100) brightness(0.7);
    }
  }
  &.blue {
    color: $blue-color;
    background-color: $blue-target;
  }

  &.pink {
    color: $pink-color;
    background-color: $pink-target;
  }
}

header,
footer {
  overflow: hidden;
  border-radius: 20px;
  padding: 0.5rem;
  margin: 0.5rem;
  &.light {
    color: $light-color;
    background-color: $light-head-foot;
  }
  &.dark {
    color: $dark-color;
    background-color: $dark-head-foot;
  }
  &.blue {
    color: $blue-color;
    background-color: $blue-head-foot;
  }

  &.pink {
    color: $pink-color;
    background-color: $pink-head-foot;
  }
}

.head {
  display: flex;
  justify-content: space-around;
  height: 20vh;
  width: fit-content;
  ul {
    display: flex;
    transition: all 500ms ease-in;
    width: 20vw;
    padding: 0;
    list-style-type: none;
    width: 0;
    height: 0;
    opacity: 0;
    font-size: 1rem;
    top: 0;
    &:hover {
      cursor: pointer;
    }
    li {
      width: 10vw;
      height: 10vh;
      text-align: center;
      line-height: 10vh;
      margin: 0;
      padding: 0;
    }
    .light {
      color: $light-color;
      background-color: $light-head-foot;
    }
    .dark {
      color: $dark-color;
      background-color: $dark-head-foot;
    }
    .blue {
      color: $blue-color;
      background-color: $blue-head-foot;
    }

    .pink {
      color: $pink-color;
      background-color: $pink-head-foot;
    }
  }
}

#theme-icon {
  background-color: inherit;
  width: 60px;
  height: 45px;
  position: relative;
  margin: auto 1rem;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#theme-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  border-radius: 9px;
  padding: none;
  margin: none;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;

  &.light {
    background-color: $light-color;
  }
  &.dark {
    background-color: $dark-color;
  }
  &.blue {
    background-color: $blue-color;
  }

  &.pink {
    background-color: $pink-color;
  }
}

#theme-icon span:nth-child(1) {
  top: 0px;
}

#theme-icon span:nth-child(2),
#theme-icon span:nth-child(3) {
  top: 18px;
}

#theme-icon span:nth-child(4) {
  top: 36px;
}

#theme-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#theme-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#theme-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#theme-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#theme-icon {
  &.open ~ ul {
    opacity: 1;
    width: 50vw;
  }
}

#middle {
  height: 100%;
  display: flex;
}

#sidebar {
  width: 2vw;
  border-radius: 5px;
  margin: auto 0.5rem;
  padding: 0.5rem;
  height: min-content;
  overflow: hidden;
  transition: width 500ms linear;
  h4,
  ul {
    transition: opacity 700ms ease-in;
    padding: 0;
    list-style: none;
    opacity: 0;
  }

  &:hover {
    width: 6.5rem;

    h4,
    ul {
      opacity: 1;
    }
  }

  &.light {
    color: $light-color;
    background-color: $light-side;
  }
  &.dark {
    color: $dark-color;
    background-color: $dark-side;
  }
  &.blue {
    color: $blue-color;
    background-color: $blue-side;
  }

  &.pink {
    color: $pink-color;
    background-color: $pink-side;
  }
}

#target {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  img {
    height: 40vh;
  }
}

.fa-chevron-left,
.fa-chevron-right {
  color: inherit;
  background-color: inherit;
  margin: auto;
  height: 20vh;
  font-size: 20vh;
  border: none;
  &:hover {
    cursor: pointer;
  }
}


.foot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;

  ul {
    margin: 1rem 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    text-decoration: none;
    li{
      transition: order 500ms;
      order: 2;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .underlined {
    text-decoration: underline;
    order: 1;
  }
}

.rainbow {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(
    left,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ) !important; /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(
    right,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ) !important; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    right,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ) !important; /* For Firefox 3.6 to 15 */
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ) !important; /* Standard syntax (must be last) */
}
